#context-menu-nav {
    display: none;
    position: absolute;
    max-width: 40%;
    z-index: 65999;

}

#context-menu-ul {


    overflow: hidden;
    border: 1px solid #CCC;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    list-style-type: none;
    padding: 0px;
   
    font-size: 0.8em;
}

.context-menu-header {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #373739;
    font-family: 'Roboto-Medium';
	border: 0;
    background: #eee;
    border-bottom: 1px solid #DDD;
}


.context-menu-break {

    font-size:10%;
    background-color: #DDDDDD;
    font-weight:bold;
    padding: 0px 5px;
   
}

.context-menu-item {
    padding: 3px 10px;
    font-size: 14px;
    font-family: 'Roboto-Regular';
	cursor: pointer;
	position: relative;
	color: #7f7f7f;
}

.context-menu-item:hover {
    background-color: #DEF;
}




.context-menu-ignore {
    padding: 3px 10px;
    cursor: pointer;
	font-size: 14px;
    font-family: 'Roboto-Regular';
	color: #464646;
}

.context-menu-ignore:hover {
    background-color: #DEF;
}



#context-submenu-ul {
    display: none;
    z-index: 1001;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    background: #FFF;
    color: #333;
    border-radius: 3px;
    list-style-type: none;
    padding: 0px;
    font-size: 0.8em;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

.context-submenu-ul-left {
    left: 100%;
}
.context-submenu-ul-right {
    right: 100%;
}

.context-submenu-ul-top {
    top: 15px;
}
.context-submenu-ul-bottom {
    bottom: 15px;
}


#context-menu-item-list {
    padding: 2px 25px;
    cursor: pointer;
}

#context-menu-item-list:hover {
    background-color: #DEF;
}


#context-menu-item-list:hover > #context-submenu-ul {
	display:block
}

