@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
.wrapper{
    padding: 0px;
    width: 100%;
}
.topBanner{
    background: url('../img/landing/banbg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    padding-top: 111px;
    padding-bottom: 111px;
}
.topBanIn h3{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.472; 
	font-weight: bold;
}
.topBanIn p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.2;     
}
.emailBtn{
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 247.5px 2.5px rgba(0, 0, 0, 0.22);
    width: 281px;
    height: 56px;
    padding-top: 15px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 50, 66);
    line-height: 1.2;
    margin-top: 20px;   
	font-weight: 500
}
.contSecTwo{
    min-height: 400px;
    padding:15;
}
.carousel-control.right{
    background: transparent !important;
}
.carousel-control.left{
    background: transparent !important;
}
.glyphicon-chevron-left:before{
    margin-top: 30%;
    color: #0f95c8;
    margin-left: 0px !important;
}
.glyphicon-chevron-right:before{
    margin-top: 30%;
    color: #0f95c8;
    margin-right: 0px !important;
}
.myslideTxt{
    padding-top: 5%;
    padding-bottom: 5%;
}
.myslideTxt em{
	font-style: italic;
    letter-spacing: 0;
    color: #cbd6e2;
}
.myslideImg{
    padding-top: 8%;
    padding-bottom: 5%;
}
blockquote{
    border-left: none !important;
}
.carousel-inner{
    width: 80%;
    margin: 0px auto;
}
.carousel-control{
    width: unset !important;
}
blockquote p{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(104, 104, 104);
    font-style: italic;   
}
blockquote p span{
    color: #f2545b;
    font-size: 3em;
    font-weight: bold;
}
blockquote footer{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 50, 66);
    line-height: 1.9;  
	font-weight: 500;
}
.carousel-indicators li{
    border-color: #0f95c8;
	width: 21px;
	height: 21px;
}
.carousel-indicators .active{
    background: #0f95c8;
	width: 21px;
	height: 21px;
}
.contSecThree{
    min-height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
} 
.contThreeColIn{
    border-radius: 10px;
    background-color: rgb(45, 62, 80);
    height: 300px;
    padding: 50px 15px;
    margin-bottom: 20px !important;
}
.contThreeColIn h2{
    font-size:3em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 20px;  
} 
.contThreeColIn p{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.4;
    text-align: center;   
}
.contSecFour{
    min-height: 60px;
    background: url('../img/landing/secfourbg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}
.secFourIn{
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;    
}
.startBtn{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 197px;
    height: 41px;
    padding-top: 10px;
    margin-left: 15px; 
    margin-right: 15px;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(45, 62, 80);
    line-height: 1.2;
	font-weight: 500;
}
.contSecFive{
    min-height: 500px;
    padding: 50px 15px;
}
.secFiveHeading{
    margin-bottom: 40px;
}
.secFiveHeading h3{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(45, 62, 80);
    font-weight: bold;
    line-height: 1.2   
}
.secFiveColIn{
    min-height: 60px;
}
.secFiveColIn h4{
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(45, 62, 80);
    line-height: 1.2;    
}
.secFiveIn{
    min-height: 300px;
}
.secFiveIn p{
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(45, 62, 80);
    line-height: 1.333;
}
.contSecSix{
    min-height: 600px;
    padding: 50px 15px;
}
.secSixHead{
    margin-bottom: 40px;
}
.secSixHead h3{
    font-size: 1.8em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(45, 62, 80);
    font-weight: bold;
    line-height: 1.2   
}
.myPanelHead{
    background: #fff !important;
    padding-top: 20px;
    padding-bottom: 20px;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border-top: none !important;
}
.panel-title{
    width: 90%;
    margin: 0px auto;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(45, 62, 80);
    line-height: 1.2;  
}
.panel-title a{
    text-decoration: none;
	display: block;
}
.panel-heading h4 a:before {
	content: url(../img/landing/up.png); 	
    float: right;        
    overflow: no-display;
}
.panel-heading h4 a.collapsed:before {
	content: url(../img/landing/down.png);
}
.myPanels{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
    margin-bottom: 25px !important;
}
.panBodyIn{
    width: 90%;
    margin: 0px auto 20px;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(86, 116, 148);
    line-height: 1.2;  
}
.panel-title badge{
    color: #3ba9d3;
    font-size: 1.8em;
}
.myFoot{
    min-height: 80px;
    padding-top: 40px;
    padding-bottom: 20px;
    background: #2d3e50;
}
.footIn{
    min-height: 80px;
}
.footIn p{
        font-size: 1.2em;
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.2;  
}
.footLinks{
    width: 300px;
    margin: 20px auto 0px;
}
.footLinks li{
    display: inline-block;
    list-style: none;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(10, 168, 208);
    line-height: 1.2; 
    width: 120px;
    text-align: center; 
}
.firstLink{
    border-right: 2px solid #ffffff;
}
.modal-content {
    background-color: #0d9ecb;
}
.modal-body{
    background: url('../img/landing/popbg.jpg');
    background-color: transparent !important;
    background-repeat: repeat-x;
    border-radius: 20px;
    max-width: 630px;
    min-height: 400px;
    padding: 5%;
}
.myPopUp h3{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-shadow: 0px 5px 5.04px rgba(0, 0, 0, 0.09);   
}
.myInputs{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    max-width: 370px;
    height: 50px;
    margin: 0px auto 20px; 
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #0f97ca;
    font-style: italic;
    line-height: 1.2;  
    text-align: center; 
    padding: 5px 38px 5px 20px;   
}
.myNames, .myNames:focus, .myNames:-webkit-autofill{
    background:#fff url('../img/landing/iconform.png') 5% !important;
    background-repeat: no-repeat !important;
	background-color: rgb(255, 255, 255) !important;
}
.myEmail, .myEmail:focus, .myEmail:-webkit-autofill{
    background:#fff url('../img/landing/iconenv.png') 5% !important;
    background-repeat: no-repeat !important;
	background-color: rgb(255, 255, 255) !important;
}
.startBtn2{
    border-radius: 10px;
    background-color: rgb(7, 39, 50);
    width: 370px;
    height: 60px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;      
}
.startBtn:hover{
    background-color: rgb(7, 39, 50);
}
.formHolder{
    padding-top: 30px;
    padding-bottom: 30px;
}
@media only screen and (min-width: 768px){
    .modal-dialog{
        margin: 15% auto;
    }
}
@media only screen and (max-width: 425px){
    .startBtn2{
        width: 325px;
    }
    .topBanIn{
        padding-left: 5px;
        padding-right: 5px;
    }
}
