/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 31, 2016, 2:03:03 PM
    Author     : Jay.Dara
*/
@media (max-width:1842px){
    .collapsible_slider {padding: 0px 50px;}
}
@media (max-width:1799px){
    .become_main_inner_block .become_main_top_txt { width: 100%;}
    .horse_img{ width: 20%;}
    .flex-control-nav {  padding-left: 56.3%;}
}
@media (max-width:1699px){
    .instant_video {height: 595px;}
}
@media (max-width:1600px){
    .detection_img{ width: 55%;}
    .detection_block {    padding-top: 25%;}
    .detection_main.wpb_column.vc_column_container.vc_col-sm-12 { height: auto; padding: 5% 0 10%;}
    .collapsible_slider {padding: 0px 10px;}
    .tab_contant .instant_block { padding-top: 50%; padding-bottom: 60%;}
    .wrap{padding-bottom: 0;}
    .instant_block { padding-top: 24%;}
    .instant_video {height: 87%;}
}
@media (max-width:1599px){
    .become_main_top{ padding-top: 70px;}
    .become_slider {  padding-top: 70px;}
    .become_main_inner_block {    width: 80%;}
    .horse_img {    width: 15%; bottom: 0;}
    .become_main .btn_blue{ bottom: 35px;}
    .flex-control-nav {    padding-left: 57.3%;    top: auto;}
    #navbar ul li a{font-size: 16px;padding: 8px 10px;}
    .with_login .login_home ul li a{font-size: 16px;}
    .with_login .login_home ul li a { font-size: 16px;  margin-top: 0px; padding: 6px 10px;  margin-right: 0;}
    .become_main { padding-bottom: 0px;}
}
@media (max-width:1499px){
    .login_home ul li a{padding: 9px 10px; border-radius: 25px; display: inline-block; margin-right: 6px; margin-top: 5px;}
    .login_home{width: 21%;}
    .how_we_work .instant_block { padding-top: 15%; padding-bottom: 20%;}
    .how_we_work { padding: 80px 0 0;}
    a.instant_video_btn{    top: 52%; left: 18%;}
    .instant_video {height: 490px;}
}
@media (max-width:1443px){
    .dashboard_content_slider{width: 85%;    padding: 3px 0px 0px 15px;}
    .create_new_doc{width: 158px;}
    .how_we_work .instant_block { padding-top: 10%; padding-bottom: 20%;}
	.with_login .login_home{width: 42% !important;}
	.navigation__list{ width: 450px !important;}
}
@media (max-width:1299px){
    #navbar ul li a{ padding: 9px 10px;}
    #navbar ul{margin-top: 5px;}
    .login_home ul li a{ padding: 11px 14px; font-size: 14px;}
    .instant_video{ height: 60%;}
    a.instant_video_btn{top: 58.5%; left: 17.5%;}
    .with_login .nav_manu { width: 45%;  margin-left: 0;}
    .with_login .login_home { width: 48% !important;}
	.navigation__list{ width: 350px !important;}
    .notrify > a{width: 41px; height: 40px;background-position: -5px -59px;}
    .notrify a:hover, .notrify a.open { background-position: -5px -5px;}
    .with_login .login_home ul li a{margin-top: 0;}
    #navbar ul li a { font-size: 14px;} 
    .status p {font-size: 14px;}
}
@media (max-width:1199px){
       /* Plan Css for alider Start */		
    .plan_box{width: 98.8%;}		
    /* Plan Css for alider End */
    .container { width: 970px !important;}
    /*    section#section5,section#section5 .fp-tableCell  { height: 410px !important;}*/
    h2{ font-size: 30px;}
    h4{ font-size: 20px;}
    .logo{ padding: 7px 15px; width: 28%;}
    header.header.fixed{ padding: 15px 0 5px;}
    #navbar ul li a{ padding: 5px; font-size: 16px;}
    .breadcum{padding-top: 12%; padding-bottom: 3%;}
    .with_login .login_home ul li a{padding: 5px 10px;font-size: 14px;vertical-align: middle;}
    .nav_manu { width: 52%;}
    .with_login .nav_manu { width: auto;}
    .with_login .login_home { width: auto; text-align: right;float: right;}
    .notify_content{left: -50px;}
    #navbar ul{text-align: right;}
    .login_home ul li a{ padding: 6px; font-size: 14px;margin-right: 0;}
    .login_home{ width: 18%;}
    .submit_area p{ font-size: 14px;}
    .btn_sky, .btn_sky:hover,.btn_sky:hover{padding: 10px 15px; font-size: 14px;}
    #typed{ font-size: 48px;}
    .editor_top{padding: 15px 0px 0;}
    .top_section_main{ background-size: 100% 80%; background-position: 50% 0%;}
    .instant_title h2 {  line-height: normal;}
    .instant_txt p,.highlight_txt p,.detection_txt p,.display_text p,.home_proofreader_text p,.footer_text p,.footer_link ul li a,.footer_bottom p,.footer_about a { word-break: break-word;  font-size: 14px;    line-height: 22px;}
    .footer_link ul li {    padding-bottom: 10px;}
    .footer_social_link ul li{ margin-right: 5px;}
    .footer_top {    padding: 30px 0 20px;}
    .breadcum h1{ font-size: 24px;}
    .become_main_top {  padding-top: 40px;}
    .become_main_top_title{ margin-bottom: 20px;}
    .become_slider {   padding-top: 40px;}
    .become_main_top_title h2{ line-height: normal;}
    .become_main_inner_block .become_main_top_txt p{ font-size: 14px; line-height: normal;}
    .become_main_inner_block {    width: 90%;}
    .flex-control-nav {    padding-left: 58.3%;    top: auto;    bottom: 45%;}
    .about_writesaver_video iframe {   width: 100%;   height: 280px;}
    .about_sticky ul li a{ font-size: 18px;}
    .about_writesaver {    padding: 40px 0;}
    .about_writesaver_block {  height: 280px;}
    .about_whitesaver_title {    margin-bottom: 20px;}
    .about_whitesaver_title h2{ line-height: normal;}
    .about_whitesaver_txt p{ font-size: 14px;}
    .about_proofreader .home_proofreader_main{ padding: 40px 0;}
    .how_we_work {    padding: 40px 0 0;}
    .about_work_contant{ padding-bottom: 25px;}
    .tab_contant .instant_block {    padding-top: 30%;    padding-bottom: 45%;}
    .tab_contant_bg{background-size: inherit;}
    .about_faq{ padding: 40px 0;}
    .about_faq_contant {     padding-bottom: 25px;}
    #accordion h3{ font-size: 16px;}
    #accordion p{ font-size: 14px;}
    #accordion h3 span{ top: 22px;}
    .blog_category_sticky_left ul li{ font-size: 18px;}
    .search_box{ margin-top: 4px;}
    .blog_category_main {    padding-top: 40px;    padding-bottom: 40px;}
    .blog_block{ height: 395px;}
    .blog_title h4 {    line-height: normal;}
    .work_laptop{ width: 50%;}
    .term_service{ padding: 40px 0 25px;}
    .term_service p{ font-size: 14px; line-height: 18px; margin-bottom: 15px;}
    .contact_main {    padding: 40px 0;}
    .help_list ul li{ font-size: 18px;}
    .help_center .ui-accordion .ui-accordion-header{ font-size: 18px;}
    .help_center .ui-icon{ margin-top: -3px;}
    .help_center .ui-accordion .ui-accordion-content{ font-size: 14px;}
    .help_center_block {    padding: 10px 0 40px;}
    .login_form{padding: 30px 50px; margin-top: 30px;}
    .login .breadcum{padding-bottom: 7%;}
    .blog_category_sticky_left ul li a{padding-bottom: 13px;}
    .blog_category_main.blog_details {padding-top: 32px;padding-bottom: 0px;}
    .privacy { padding: 40px 0 20px;}
    .privacy p{font-size: 14px;    line-height: 18px;     margin-bottom: 15px !important;}
    .privacy h3{ margin-top: 10px; font-size: 20px;}
    .our_plans {  padding: 40px 0;}
    .plan_price .price {font-size: 30px;}
    .plan_price span{font-size: 16px;}
    .plan_detail_txt p{ font-size: 16px;}
   .plan_detail_txt .plan_detail_text p{ font-size: 12.5px;}
    .plan_details { padding: 20px 24px 24px;}
    .most_popular .plan_details {   padding: 20px 24px 28px;}
    .what_you_get .home_proofreader_main{ padding: 40px 0;}
    .what_you_get_main {  padding-top: 20px;}
    .what_you_get_main_block{ padding: 40px 0 70px;}
    .what_you_content{ padding-top: 12.6%;}
    .all_page_proofer {   padding: 40px 0;}
    .history_row:first-child .history_col {    font-size: 16px;    padding: 14px 12px;}
    .history_row .history_col {    font-size: 14px;    padding: 14px 12px;}
    .pagination_main .pagination>li>a,.pagination_main .pagination>li>span{ font-size: 16px;}
    .left{ width: 60%;}
    .right{ width: 37%;}
    .privacy.notification {    padding: 40px 0;}
    .completed_all_test_content{ font-size: 20px;     margin: 10px 0 25px;}
    .completed_all_test_content p{ line-height: normal;}
    .main_profile_img {height: 130px; } 
    .Profile_setting_all {  padding: 40px 0;}
    .main_profile_delete {  padding-top: 20px;    padding-bottom: 0;}

    .customer .total_ammount{padding: 0px 10px 0px 10px;}
    .customer .total_ammount h4{font-size: 18px;margin-right: 20px;}
    .customer .total_ammount h4:after{top: 10%;}
    .total_ammount h4 span { font-size: 16px;}
    .privacy.customer .total_ammount p { font-size: 18px;width: 160px;}
    .privacy.customer .total_ammount a{font-size: 16px;}
    label.cloud_file{font-size: 20px;}

    .login_home .notify_content ul li { padding: 3px 0;}
    .with_login .login_home ul li a { padding: 4px 10px;}

    .credit.current .left{padding: 10px 0;}
    .credit.current .right_cont { padding-top: 10px; width: 65%;}

    .basic_information .blog_category_sticky_left ul li a { padding: 14px 140px;}
    .basic_info_inner .blog_category_sticky_left ul li{font-size: 13px;}
    .basic_info { padding: 40px 0;}

    .test_contents p{margin: 10px 0 15px;}
    .test_stop_content p{margin: 0;width: 65%; margin-top: 5px;}
    .timer{width: 20%; font-size: 26px;}
    .test_stop_content { padding: 10px 20px 10px 20px;}    
    .proof .col-sm-4 { width: 50%;  margin-bottom: 15px;}
    .proof_dashboard .all_page_proofer { padding: 40px 0;}
    .proof .service { margin-bottom: 10px;}
    .proof_academy { padding: 40px 0;}
    .inner_connent p{padding: 0; font-size: 20px;}
    .progress_msg p { margin: 0;font-size: 16px;}
    .progres{margin: 0 auto 50px;}
    .become_main .btn_sky, .become_main .btn_sky:hover { font-size: 26px;}
    .about_writesaver_video a.instant_video_btn{ top: 31.5%; left: 40.5%;}
    .text_editor iframe{height: 250px !important;}
    .home_proofreader_display.center_block{padding-top: 50px;}
    .home_proofreader_main.why_proof{padding-top: 30;}
    .home_proofreader .fp-tableCell{vertical-align: middle;}
    .home_proofreader_display.center_block{padding-top: 60px;}
    a.instant_video_btn.about { top: 90px; left: 195px;}
    .how_we_work .instant_block { padding-top: 10%; padding-bottom: 10%;}
    .how_we_work .vc_active .vc_tta-panel-body { background-size: inherit;}
    a.instant_video_btn { top: 58%; left: 17%;}    

    /*thank you page*/
    .thank-you { padding: 70px 0;}
    /*plan check out page*/
    .member_payment .pmpro_checkout h2{font-size: 26px;margin-top: 20px;}
    .member_payment span.pmpro_thead-name {  font-size: 22px;}
    .pmpro_checkout .pmpro_thead-msg{font-size: 16px;}
    .changeable{margin-left: 0px;}
    .proof .doc_name, .proof .timer_main { padding-top: 50px;}
    .parentscrollcontents{height: 240px !important;}

    .top_section_main{height: auto;}
    .instant_block { padding-top: 15%;}
     .monthly_plan .plan_flexslider{padding: 30px 45px;}		
    .one_time .plan_details{padding: 30px 33px 20px;}		
    .one_time .plan_price span,.monthly_plan .long_term_plan span{font-size: 28px;}		
    .words_per_month span{font-size: 32px;}		
    span#dis_price{font-size: 32px; margin-bottom: 62px;}
	.with_login .login_home {
		width: 70% !important;
	}
}
@media (max-width:991px){
    
    .plan_detail_text { min-height: 197px;}
    .one_time .plan_details_box .btn_blue { margin-bottom: 38px;}
    
    .container { width: 750px !important;}
    .header{padding: 15px 0;}
    header.header.fixed {    padding: 5px 0 10px;}
    .logo {    padding: 3px 15px;}
    .logo { width: 235px; margin: 0 auto; display: table;}
    #navbar ul { text-align: center;}
    .with_login .nav_manu { width: 50%;}
    .navbar{min-height: 1px;}
    /*.with_login .login_home {width: 100%; text-align: center; padding-top: 0;}*/
    .nav_manu{ width: 70%;}
    .login_home {    width: 28%;}
    /*    .top_section_main{    background-size: inherit;}*/
    .instant_video {  width: 750px;height: 353px;padding: 3.5% 15% 7.5%;left: 0;right: 0;    margin: 50px auto 0 !important; position: relative;display: block;}
    .detection_img img {    width: 60%;    float: right;}
    .instant_block {    padding-top: 5%; text-align: center;}
    .instant_main{ background-size: 100% auto;}
    .detection_img {    width: 75%;}
    .detection_block { padding-top: 0%; text-align: center;}
    .home_proofreader_display { padding: 60px 0 0;}
    .home_proofreader_main {  padding: 130px 0 40px;}
    .footer_about {    margin-bottom: 20px;}
    .become_slider_img {    width: 80%;    display: block;    padding-left: 0;    margin: auto; background: url(../images/laptop_black.png);    background-repeat: no-repeat;    background-size: 100% 100%;    padding: 40px 40px 75px;}
    .become_main_block {    display: block;    width: 100%;    text-align: center;     margin-top: 30px;}
    div#become{ background: none;}
    .flex-control-nav {    padding-left: 0;    top: auto;    bottom: auto;    width: 100%;}
    .become_main .btn_blue{ position: relative;bottom: auto;padding-bottom: 15px; }
    .become_slider_img img{    margin-left: -30px;}
    .text_editor {  padding: 35px 10px 0;}
    .breadcum {    padding-top: 17%;    padding-bottom: 2.5%;}
    .about_writesaver_contant {    position: relative;    padding-top: 40px;    text-align: center;}
    .about_writesaver_block {    height: auto;}
    .work_tab .r-tabs-state-active a,.work_tab  a:hover{color: #fff; background: #03b4d7; box-shadow: 0px 3px 12px rgba(3,180,215,0.5);}
    .work_tab  a{color: #414040; font-size: 18px; text-decoration: none; padding: 13px 22px; border-radius: 25px; display: inline-block; width: 100%; border: 1px solid #03b4d7;    margin-bottom: 15px;}
    .tab_contant .instant_block {    padding-top: 15px;    padding-bottom: 15px;}
    .work_laptop {    position: relative;    left: -20px;    bottom: auto;    width: 60%;    padding: 30px 0;    display: block;}
    .tab_contant_bg{ background: none;}
    .how_we_work{ padding: 40px 0;}
    .blog_category_sticky_left ul li {    font-size: 16px;    margin: 0 8px -2px;}
    .tftextinput1{ padding: 5px 40px 5px 8px;}
    input.tfbutton1{ background-position: 15px 9px;}
    .blog_block {    height: 302px;}
    .blog_desc, .blog_date span{ font-size: 14px;}
    .blog_title,.blog_date,.blog_desc {    margin-bottom: 10px;}
    textarea.contact_block{ height: 120px;}
    .footer_link { padding-top: 20px;}
    .footer_text { padding-top: 20px;}
    .footer_link ul li { padding-bottom: 5px;}
    .footer_social_link { padding-top: 20px;}
    .top_contant{top: 15%; bottom: auto;}
    .top_section_main{background-position: 50% 0%;}
    .login .breadcum { background-size: cover; background-position: 75% 50%;}
    .login .breadcum .col-sm-offset-3 { margin-left: 15%;}
    .login .breadcum .col-sm-6 { width: 70%;}
    .login .breadcum { padding-bottom: 4%;}    
    .login .breadcum .register .col-sm-6{width: 50%;}
    .login .breadcum .register .social_login .col-sm-6{width: 100%;}
    .col-sm-offset-2 { margin-left: 13%;}    
    .col-sm-8 { width: 74%;}
    .register .other_login span:before { width: 35%;}
    .register .other_login span:after { width: 35%;}
    .register a.fb_login:before { left: 25%;}
    .register a.ggl_login:before { left: 23%;}
    .work_tab ul li a{padding: 8px 22px;}
    .become_slider { padding-top: 10px;}
    .become_main_top_title { margin-bottom: 10px;}
    .become_main_block{margin-top: 0;}
    div#become{padding: 1.8% 0 8%;}
    .blog_data_desc p {font-size: 16px;}
    .blog_data_desc ul li{font-size: 16px;    margin-bottom: 0px;}
    .blog_data_desc h3{margin-bottom: 0px;font-size: 22px;}
    .what_you_img img{margin: 0 auto;}
    .what_you_get_main_block {   padding: 40px 0 40px;}
    .what_you_content { padding-top: 0; text-align: center; margin: 0px auto;}
    .what_you_content.right_side_block { padding-top: 9%;}
    .right_side_img {    margin-left: 0;    margin-top: 20px;    margin-bottom: 30px;}
    .what_you_content.left_side_block {    padding-top: 0;    margin: auto;    padding-bottom: 10px;}
    .notification .notify_content ul li{    padding: 10px 0 10px;}
    .notification .notify_content ul li a{font-size: 16px;}
    .left{ width: 100%; text-align: center;}
    .right{ width: 100%; padding: 15px 0 0;}
    .privacy .total_ammount p{ width: auto;}
    .total_ammount{ padding: 10px;}
    .right:before{ display: block; margin: auto;}
    .main_profile_img {height: 95px; } 

    .customer .col-sm-5 { width: 50%; margin-bottom: 15px;}
    .customer .col-sm-2 { width: 50%; float: none; margin: 0 auto; text-align: center;}
    .credit .left, .submitted .left { width: 100%; padding: 10px 0 10px;}
    .credit .right, .submitted .right{width: 100%; position: relative; right: 0; bottom: 0px; left: 0; margin: auto;}
    .inner_content .col-sm-2 {width: 33.33%;margin-bottom: 10px; float: left;}

    .profile_setting .blog_category_sticky_left ul li a { padding: 14px 15px;}
    .blog_category_sticky_left ul{text-align: left;}

    #Paypal .pop_main{width: 70%; height: 80%; overflow-y: auto;}
    .credit.current .right_cont{width: 60%;}
    .total_ammount.current h4 { font-size: 28px;}
    .credit.current .left { width: 90px;}
    .total_ammount.current .right_cont h4{margin-bottom: 0px;}
    .total_ammount.current a.btn_sky { margin: 20px 0;}
    .plan_detail_txt { min-height: 174px;}
    .most_popular .plan_detail_txt { min-height: 174px;}
    .col-sm-6.privacy.customer .credit .left{width: 70%; padding: 30px 0;}
    .col-sm-6.privacy.customer .credit .right{text-align: right; padding: 0px 0; width: 29%; position: absolute; left: auto; right: 10px; bottom: 0;}
    .basic_information .blog_category_sticky_left ul li a { padding: 14px 100px;}
    .basic_info_inner .col-sm-2 { width: 26.666667%;}
    .basic_info_inner .col-sm-10 { width: 73.333333%;}
    .basic_info_inner input.contact_block { padding: 7px 23px; font-size: 16px;}
    .basic_info { padding: 30px 0;}

    .test_contents p { margin: 10px 0 10px; font-size: 16px; line-height: 22px;}
    .test_stop_content p { width: 100%;}
    .timer { width: auto; text-align: left;}
    .pop_main {width: 90%;}
    #notContent_2 .buttons{margin-top: 0;}
    .col-sm-7 { width: 100%;}
    .proof_academy .col-sm-8 {  width: 60%;}
    .proof_academy .col-sm-4 {  width: 40%;}
    .proof .total_ammount .right{padding-top: 0;}
    /*    section#section5, section#section5 .fp-tableCell { height: 600px !important;}*/
    a.instant_video_btn { top: 23%; left: 43%;}
    a.instant_video_btn img { width: 50%;height: auto;}
    .become_main .btn_sky, .become_main .btn_sky:hover { font-size: 22px;}
    .about_writesaver_video a.instant_video_btn { top: 40%; left: 43%;}
    .login .theChampFacebookLoginSvg:after{padding-left: 0px; top: 16px; font-size: 14px; left: 40px;}
    .login .theChampGoogleLogin:after{padding-left: 0; top: 16px;font-size: 14px; left: 45px;}
    .vc_col-sm-6,.vc_col-sm-5 { width: 100% !important;}
    .our_plans .vc_col-sm-3 { width: 50% !important;}     
    .top_section .fp-tableCell{vertical-align: top;}
    .top_section_main{height: auto;}
    a.instant_video_btn.about { top: 82px;  left: 138px;}
    .about_writesaver .vc_col-sm-7 { width: 100%;}
    .about_writesaver_video .wpb_wrapper { width: 100% !important;}
    a.instant_video_btn.about { top: 0; left: 0; right: 0; bottom: 0; margin: auto; display: table; width: 120px;}
    .work_tab ul li a { padding: 8px 22px !important; border: 0 !important;}
    .how_we_work .instant_block { padding-top: 0%; padding-bottom: 0%; width: 100%;}
    .how_we_work .vc_active .vc_tta-panel-body{ background: none; background-color: #fff !important;}
    .with_login .login_home{text-align: center;}

    .fileinput label{  font-size: 14px; padding: 3px 0px;}
    .page-template-basic_information .blog_listt .text-danger {top: 36px;}

    /*thank you page*/
    .thank-you { padding: 50px 0;}
    .registration_thank_you .col-sm-6{width: 74%;margin: 0 auto;float: none;}
    .thank-you h2 {font-size: 26px;}

    /*plan check out page*/
    .member_payment span.pmpro_thead-name { font-size: 20px;}
    .member_payment .pmpro_form strong{ font-size: 14px;}
    #pmpro_account_loggedin a{font-size: 16px;}
    .member_payment .pmpro_checkout h2 { font-size: 22px; margin-top: 10px;}
    a.pmpro_radio { font-size: 16px;}
    form.pmpro_form div{margin: .5em 0 .5em 0;}
    .member_payment form.pmpro_form .pmpro_submit{margin-bottom: 0;}
    .customer .total_ammount h4{margin-right: 10px;}
    .privacy.customer .total_ammount p{width: 150px;}    
    .proof .doc_name, .proof .timer_main { padding-top: 40px;}
    /*    .parentscrollcontents {  width: 103% !important;}*/
    .changeable { margin-left: 0px;}
    .hidden_scroll{margin: 0 auto;}
    .footer_top .col-sm-6 { min-height: 160px; margin-bottom: 15px;}
    .about_writesaver .vc_col-sm-7, .about_writesaver .vc_col-sm-5 { padding: 10px 15px;}

    .detection_img { position: relative;  right: -12%;}
    #section1 a.instant_video_btn {display: none;}
    .instant_main{height: auto; padding-bottom: 25%;}
    .detection:after{display: none !important;}
   #thank_modal .pop-container{width: 100%; height: 100%; overflow-y: auto;}
    #thank_modal .pop_main{width: 80%;}
    #payment_option_modal .pop_body{width: 100%; }
    #payment_option_modal .pop_main{width: 80%;}
    #error_modal .col-sm-8{width: 100%;}
    .all_plans .col-sm-4{width: 40%;}
    .all_plans .col-sm-8{width: 60%;}
    .one_time .plan_detail_txt p{margin-bottom: 90px;}
    span#dis_price{font-size: 30px; margin-bottom: 30px;}
    .all_plans>.row{margin: 0px;}
    .plan_text{padding-left: 15px; padding-right: 15px;}
    .plan_text p{font-size: 14px;}
	.with_login .login_home {
		width: 50% !important;
	}
}
@media (max-width:767px){
    .with_login .nav_manu { width: 100%;}
    .our_plans .vc_col-sm-3 { width: 100% !important;}
    .container { width: 100% !important;}
    .nav_manu {    width: 100%; padding: 0; margin-left: 0; }
    .navbar-collapse{ width: 100%;border-color: transparent; background-color: #fff;}
    .header {    padding: 5px 0;  }
    .with_login .login_home {width: 50% !important; text-align: center; padding-top: 0; position: absolute; z-index: -1;}
	.login_home ul li:last-child a{ width: 90px !important;}
	.top-head__inner{z-index: 1;}
	.user a span{ display: none;}
    .navbar-inverse .navbar-toggle {  margin-top: -35px;}
    /*.navbar{ min-height: 100%;}*/
    #navbar ul li {    display: block;    text-align: center;margin-bottom: 7px;}
    #navbar ul{ margin: 15px 0;}
    .navbar-header{ background: transparent;}
    .login_home {    width: 100%;margin-top: 0px;}
    .navbar-inverse .navbar-toggle {    border-color: #03b4d7;z-index: 999;}
    .navbar-inverse .navbar-toggle .icon-bar {    background-color: #03b4d7;}
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {    background-color: transparent;}
    .top_contant {    position: relative;    bottom: auto; padding-top: 50px;}
    #typed {    font-size: 30px;}
    .wrap{ padding: 15px 0;}
    .text_editor{ padding: 15px 10px 0;}
    .mce-btn button{ padding: 1px !important;}
    .used_word {    right: 15px;    padding-top: 4px;}
    .text_editor .mce-toolbar-grp{ padding-bottom: 10px;}
    .text_editor iframe{ height: 150px !important;}
    .instant,.detection,.home_proofreader_main{ padding: 40px 0;}
    .instant_video{ height: 250px;}
    .instant_block,.highlight {    padding-top: 30px;}
    .instant_video {height: 250px;  position: relative;  width: 450px;    margin: auto; padding: 18px 78px 39px;}
    .instant_main{ background: none;}
    .instant_title,.detection_block{ padding-bottom: 15px;}
    .highlight_title, .highlight_txt{ width: 100%;}
    .detection_img { position: relative;    bottom: auto;    padding-top: 30px;}
    .detection_main.wpb_column.vc_column_container.vc_col-sm-12{padding: 0;}
    .detection_main{ background: none;}
    .detection_block{ padding-top: 15px;}
    .home_proofreader_display{ padding-top: 20px;}
    .display_img{ margin: 15px auto 15px; padding-bottom: 30px;}
    .footer_top {    text-align: center;}
    .footer_logo {    display: inline-block;    padding-bottom: 20px;}
    .footer_title h4:after{ margin: 8px auto 0;}
    .top_section_main{ background: none;}
    .footer_text {    padding-top: 0;    padding-bottom: 20px;}
    .footer_about {    margin-bottom: 10px;}
    .footer_link {    padding-top: 15px;}
    .footer_bottom{ padding: 10px 0;}
    .home_proofreader_display .btn_blue { padding-top: 30px;}
    .mobile_icon{ display: block;}
    .desktop_login{ display: none;}
    .login_home_mobile ul li {    display: inline-block;    background: url(../images/login_register.png);    background-repeat: no-repeat;    width: 35px;    height: 30px;}
    .login_home_mobile ul li.register_mobile{ background-position:  -36px 0;}
    .login_home_mobile ul li a{width: 35px;    height: 30px;     display: block;}
    .login_home_mobile ul { padding: 0; margin: 0; list-style: none;     }
    .login_home_mobile{ display: block;   position: absolute;    right: 66px;    top: 6px;}
    .with_login .login_home_mobile{display: none;}
    .with_login .desktop_login { display: block; width: 350px !important;}
    header.header.fixed { height: 55px;position: fixed;}
    header.header.with_login.fixed{min-height: 125px;}
    .logo { width: 235px; }
    .detection_title h2{ line-height: normal;}
    .become_main_top_title h2{ font-size: 28px;}
    .become_slider_img img {    margin-left: -23px;}
    .become_slider_img {  padding: 25px 32px 50px;}
    .become_main_inner_block {    width: 100%;    padding: 0 15px;}
    .breadcum{ padding-top: 12%;}
    .about_sticky ul li{ padding: 5px 0;}
    .about_sticky ul li a {  font-size: 16px;}
    .about_sticky ul li{ margin: 0 5px -2px;}
    .work_tab a {    font-size: 16px;    padding: 6px 22px;  text-align: center;}
    .blog_block {    height: auto;}
    .blog_title h4 {     font-size: 16px;}
    .blog_desc, .blog_date span {    font-size: 12px;}
    .detection_img img {    width: auto;    float: none;}
    .category_btn{ display: block; cursor: pointer;}
    .category_full_list #links {    display: none;    width: 100%;    position: absolute;    z-index: 1;    background: #fff;    margin-top: 1px; left: 0;}
    .blog_category_sticky_left ul li {    font-size: 16px;    margin: 0;    display: block;    border: 0;border-bottom: 2px solid transparent;}
    .category_btn_icon {    display: inline-block;}
    .category_btn_txt { display: inline-block;   color: #03b4d7;    font-size: 22px;    font-family: 'Roboto-Medium';    padding: 6px 0;}
    .term_service p{ text-align: center;}
    .contact_form_title{ text-align: center;}
    .submit_btn {    text-align: center;}
    input.contact_block {  padding: 8px 23px;  font-size: 16px;}
    textarea.contact_block {    padding: 8px 23px;    font-size: 16px;  height: 80px;}

    .help_center .ui-accordion .ui-accordion-header { font-size: 16px;}
    .help_list ul li { font-size: 16px;margin: 0 10px -2px;}
    .login_form{margin-top: 15px;}
    .other_login span:after,.other_login span:before{ width: 100px;}
    a.fb_login:before{left: 12%;}
    a.ggl_login:before{left: 10%;}
    .social_login a { font-size: 16px;}
    .login .breadcum .register .col-sm-6 { width: 100%;}
    .login_form.register{ padding: 30px 20px;}
    .blog_data_desc img {padding-top: 10px;padding-bottom: 15px;}
    .blog_detail_desc {padding-top: 14px;}
    .privacy{ text-align: center;}
    .privacy h3 { font-size: 18px;  line-height: 22px;}
    .what_you_content{ width: 100%;}
    .what_you_content.right_side_block { padding-top: 65px;}
    .what_you_content p{ font-size: 14px;}
    .what_you_get .home_proofreader_main {    padding: 40px 0 0;}
    .all_page_proofer {    padding: 20px 0;}
    .history_table_main {  padding-top: 10px;}
    .history_row:first-child .history_col {    font-size: 13px;    padding: 10px 5px;}
    .history_row .history_col {    font-size: 12px;    padding: 10px 5px;}
    .pagination_main{ margin-top: 15px;}
    .notification .pagination { margin: 0px 0 0;}
    .privacy.notification { text-align: left;}
    .notification i { font-size: 16px; margin-right: 15px;}
    .notification .notify_content ul li a,.notification .notify_content span {width: 100%; display: inline-block; padding-left: 20px;font-size: 16px;line-height: normal;}
    .notification .notify_content span{text-align: right;}
    .notification .notify_content ul li{position: relative;}
    .notification i{position: absolute; left: 0;top: 10px;}
    .total_ammount{ margin-bottom: 15px;}
    .service { margin-bottom: 10px;} 
    .breadcum h1 {    font-size: 20px;}
    .main_profile_img {    height: 95px;    width: 95px;    margin: auto;}
    .main_profile_remove{ padding-bottom: 20px;}
    .red_link, .red_link:hover{ font-size: 16px;}
    .field_title {    text-align: center;}
    .all_fields input[type="text"] { font-size: 16px;    padding: 8px 10px;    margin-bottom: 5px;}
    .main_profile_delete{ text-align: center;}
    .setting_checkbox.last_field_checkbox { padding: 0px;}
    .setting_checkbox{ padding: 15px 0;}

    .customer .col-sm-5{margin-bottom: 0; float: left;}
    .customer .total_ammount h4 { font-size: 16px;}
    .total_ammount h4 span { font-size: 14px;}
    .privacy.customer .total_ammount p { font-size: 16px;}
    .privacy.customer .total_ammount a { font-size: 14px;}
    .inner_content .col-sm-2 { width: 50%;}

    .blog_category_sticky_left ul {text-align: center; display: none; width: 100%; position: absolute;  z-index: 9; background: #fff; margin-top: 1px;left: 0;}
    .billing_image, .bill_popup { width: 195px;}
    .billing_type { width: 60%;}
    select.contact_block{padding: 8px 23px;font-size: 16px;}
    label.contact_block { font-size: 16px; min-height: 1px; padding-top: 0px;}
    label.contact_block:before{top: 3px;}
    .buttons { text-align: center;}
    .credit.current .left { width: 100%; text-align: center;}
    .total_ammount.current h4{float: none;}
    .total_ammount.current h4:after{top: 40px; right: 0; transform: rotate(90deg); left: 0; margin: 0 auto;}
    .col-sm-6.privacy.customer .left h4{float: none;}
    .col-sm-6.privacy.customer h4{text-align: left;}
    .col-sm-6.privacy.customer{padding-top: 0; padding-bottom: 0;}
    #notContent_1 .setting_right .field_title { text-align: left;}

     .plan_detail_txt { min-height: 1px;}
    .most_popular .plan_detail_txt { min-height: 1px;}
    .plan_price,.monthly_plan .long_term_plan{padding: 10px 0 10px;}
    .most_popular .plan_price{padding-top: 25px;}
    .plan_box {margin-top: 20px;}
    .plan_box.most_popular{margin: 0px;}
    .what_you_get_main_block { padding: 20px 0 10px;}

    .col-sm-6.privacy.customer .credit .left { width: 70%; padding: 30px 0; float: left; text-align: left;}
    .col-sm-6.privacy.customer { width: 375px;  float: left;}
input[type=submit].btn_sky {     float: none; }
    .basic_info_inner .col-sm-2, .basic_info_inner .col-sm-10 { width: 80%; display: table; margin: 0 auto 10px;}
    #paypal_modal input[type=submit].btn_sky{float: none;}    
    .basic_info { padding: 20px 0;}
    .basic_info_inner.final_info .all_fields{padding-bottom: 10px;}
    .subscrib input.contact_block{margin-right: 0;}
    .ready .first_test p { width: 85%; font-size: 14px;}
    .id_payment_option span{font-size: 28px !important; margin-top: 12px;}		
    .btn_sky, .btn_sky:hover, .btn_sky:hover{padding: 10px 11px;font-size: 12px;}
    .delete_track{left: 10px; top: 20px;}
    .delete_track a{padding-right: 20px;}
    #notContent_2 input[type=submit].btn_sky {float: right;}
    .add_edu, .add_edu:hover, .add_edu:focus{width: 80px;padding: 5px 5px;}
    .proof .col-sm-4 {  width: 450px;  margin: 0 auto;}
    .proof_academy .col-sm-8 { width: 100%;  margin-bottom: 15px;}
    .proof_academy .col-sm-4 { width: 70%; margin: 0 auto;}
    .proof_dashboard .all_page_proofer { padding: 20px 0;}
    .proof_academy { padding: 20px 0;}
    a.instant_video_btn { top: 30%; left: 41%;}
    a.instant_video_btn img { width: 40%;}
    section#section5, section#section5 .fp-tableCell { height: auto !important;}
    .become_main .btn_sky, .become_main .btn_sky:hover { font-size: 18px;}
    .about_writesaver_video a.instant_video_btn { top: 42%;}
    .r-tabs .r-tabs-accordion-title { display: block; width: 70%; margin: 0 auto;}
    .privacy.privacy_page h2 { text-align: center;}
    .login .col-sm-8 { width: 100%; margin: 0;}
    .instant_main{height: auto;}
    .detection_main{height: auto;}
    .highlight, .detection{padding: 0;}
    .home_proofreader_display.center_block { padding-top: 0px;}
    .wpb_column.vc_col-sm-12.center_block{ padding: 0 !important;}
    .center_block .btn_blue a.btn_sky { display: inline-block; margin-bottom: 20px;}
    .center_block .btn_blue { padding: 0;  display: inline-block;}
    .wpb_content_element.display_img{margin: 15px auto 10px !important;}
    .wpb_column.vc_col-sm-12.center_block .vc_column-inner { padding-top: 0px !important;}
    .home_proofreader_main.why_proof{padding-bottom: 10px;}        

    .how_we_work_main .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading { border-color: transparent;  background-color: transparent;}
    .how_we_work_main .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body{border: 0;}
    .how_we_work_main .vc_tta.vc_general .vc_tta-panel-title > a { background: transparent; display: block; padding: 10px 20px; box-sizing: border-box; text-decoration: none; position: relative;  border: 1px solid #03b4d7;    margin: 0 auto 10px;    width: 70%;}
    .how_we_work_main .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading { border: 0; background-color: transparent;}
    .how_we_work_main .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title > a { color: #fff; background-color: #03b4d7;}
    .how_we_work_main .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title > a:hover { color: #fff; background-color: #03b4d7;}
    .how_we_work_main .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:hover, .how_we_work_main .vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:focus{background-color: transparent;}
    .work_laptop{padding: 0 0 15px;}
    #faq .vc_col-sm-2 { height: 1px;}
    .about_faq { padding: 0 0 30px 0;}    
    .navbar-inverse .navbar-collapse{ border: 0; position: absolute;}    
    .type-wrap { min-height: 45px;}

    .fileinput label { font-size: 16px; padding: 3px 10px; width: auto;}
    .page-template-profile_settings_proofreader .all_fields .text-danger, .page-template-basic_information_review .all_fields .text-danger {position: relative;left: auto;top: -6px;}
    .page-template-basic_information .blog_listt .text-danger {position: relative;left: auto;top: -15px;}
    .all_fields .row{margin-right: 0px;margin-left: 0px;}
    #Paypal .card_msg{width: 100%; top: auto;    text-align: center;padding-top: 10px;}
    #paypal_modal .pop_content .text-danger {position: relative;left: auto;top: -14px;}
    #paypal_modal .pop_content .paypal_msg{top: auto;left: auto;}
    #paypal_modal .pop_content span.text-success.paypalmsg {text-align: center;padding-top: 10px;}

    /*thank you page*/
    .thank-you { padding: 40px 0;}
    .thank_img{margin-bottom: 10px;}

    /*Plan Popup page*/
    #purchage_plan .pop_main{width: 90%;}
    #credit_debit .col-sm-6 { width: 50%; float: left;}
    #credit_debit .col-sm-12 { display: inline-block; width: 100%;}
    .purchase_plan_detail *{margin: 0 5px; font-size: 20px;}
    .thank_msg {padding: 20px 15px 15px;}

    .del_edu { text-align: right;margin-bottom: 8px;}
    .sub_btn .btn_sky, .sub_btn .btn_sky:focus{float: none;}
    .add_new, .add_new:hover, .add_new:focus,.add_job, .add_job:hover, .add_job:focus  {width: 92px;padding: 7px;}
    div#section4 { padding-top: 30px;}
    .login_home .notrify .notify_content ul li a { padding-left: 25px;}
    .login_home .notify_content ul li.view_all a { padding-left: 0;}
    .notrify .notify_content{top: 50px;}
    .hidden_scroll{margin: 0 auto;}
    .changeable { margin-left: 0px;}
    .hidden_scroll { margin: 0 auto;}
    .proof .doc_name, .proof .timer_main { padding-top: 30px;}
    .footer_top .col-sm-6 { min-height: 1px;margin-bottom: 0;}

    .section {height: auto !important;}
    .section .fp-tableCell {height: auto !important;}
    .instant_video{margin: 0px auto 0 !important;}
    .instant_main{padding-bottom: 5%;}
     #payment_option_modal .pop_main{height: 245px!important; }
    #payment_option_modal .pop_body{padding: 20px!important;}	
    #thank_modal .pop-container{padding: 20px!important;}		
    #thank_modal .pop_main{height: 80%!important;}		
    #error_modal .pop_main{height: 80%!important;overflow-y: auto;}
    #login_regi_modal .pop_main{padding: 20px; height: 70%!important; min-height: 1px!important; width: 90%;}
    .all_plans .col-sm-4{margin-bottom: 20px;}
    .all_plans .col-sm-4,.all_plans .col-sm-8{width: 100%;}
    .one_time .plan_detail_txt p{margin-bottom: 10px;}
    .one_time input#hdntotalwords{/* height: 40px; */ font-size: 16px; line-height: normal;}
    #enter_word a{font-size: 14px;padding: 8px 16px; margin: 15px 0px;}
    span#dis_price{margin-bottom: 15px; font-size: 20px;}
    .one_time .plan_price span, .monthly_plan .long_term_plan span {font-size: 20px;}
    .one_time .plan_details{padding: 20px;}
    .plan_details{padding: 10px;}
    .monthly_plan .plan_flexslider{padding: 45px 15px 15px;}
    .flex-direction-nav a{top: 20px;}
    
    .one_time .plan_details_box .btn_blue { margin-bottom: 0;}
    li.odd .plan_details_box .btn_blue { margin: 40px 0 16px 0;}
}
@media (max-width:567px){
    .logo {    width: 240px;float: left;}
    .navbar-inverse .navbar-toggle {  margin-top: -39px;}
    .navbar-toggle{ margin-bottom: 5px;}
    #typed {  font-size: 24px;}
    h2 {  font-size: 24px;}
    .become_slider_img img {    margin-left: -20px;}
    .become_main_top_title h2{ font-size: 24px;}
    .blog_textblock {    background: #000;    position: relative;    width: 100%;    height: auto;    text-align: center;}
    .blog_txt{ position: relative;}
    .hover_effect_blog_img {    bottom: auto;    right: 0;    position: absolute; -ms-transform: rotate(-90deg);    -webkit-transform: rotate(-90deg);     transform: rotate(-90deg);}

    .help_list ul li { font-size: 15px; margin: 0 5px -2px;}
    .help_center .ui-icon{width: 15px; height: 15px; background-size: cover !important;background-position: 0 -109px !important; margin-top: 0;}
    .help_center .ui-state-active .ui-icon{background-position: 0 -96px !important}
    .login .breadcum .col-sm-6 { width: 100%; margin-left: 0;}
    a.fb_login:before { left: 20%;}
    a.ggl_login:before { left: 18%;}
    .register a.fb_login:before { left: 15%;}
    .register a.ggl_login:before { left: 13%;}
    .login .col-sm-offset-2.col-sm-8 { width: 100%; margin: 0;}
    .register .social_login a { padding-left: 0px;}
    .how_we_work,.about_faq { padding: 10px 0;}
    .about_faq_title {  margin-bottom: 10px;}
    .about_faq_contant { padding-bottom: 0;}
    .about_work_title {  margin-bottom: 0;}
    .about_proofreader .home_proofreader_main { padding: 20px 0;}
    .blog_data_desc p {font-size: 14px;}
    .blog_data_desc ul li {font-size: 14px;}
    .breadcum { padding-top: 15%;}

    .customer .col-sm-5 { width: 100%;}
    .inner_content .col-sm-2 { width: 100%;}
    #Paypal .pop_main { width: 90%;}
    .pop_body .page_title h2 { font-size: 24px;}
    .pop_body .page_title h4{margin: 10px 0 10px;}

    .credit.current .right_cont { width: 100%; text-align: center;}
    .total_ammount.current .right_cont h4{text-align: center;}
    .total_ammount.current a.btn_sky { margin: 20px auto 0; float: none;  display: table;}
    .col-sm-6.privacy.customer h4 { text-align: center;}
    #notContent_2 .col-sm-12 h4 { text-align: center;}
    .checkbox-custom + .checkbox-custom-label:before{position: absolute; left: 0;top: 2px;}
    .checkbox-custom-label{padding-left: 30px;}

    .basic_info_inner .col-sm-2, .basic_info_inner .col-sm-10{width: 100%;}

    .test_contents p{text-align: justify;}
    .subscrib .pop_main { height: 350px;}
    .subscrib input.contact_block { width: 90%; margin-right: 0;}
    .ready .first_test p { width: 100%;}
    .start_tests.delete .pop_main { padding: 15px 40px;}
    .delete .pop_head a{right: 0;}
    .delete_track { left: auto; top: auto;  position: relative;}
    .collect .contact_block { width: 100%;}
    .collect ul{width: 100%;}
    #notContent_2 input[type=submit].btn_sky { display: inline-block;}
    .collect h6 { font-size: 16px;margin-top: 0;}
    #notContent_2 .buttons{text-align: center;}
    .radio_option label{font-size: 14px; min-height: 22px;}
    .changeable{padding-right: 0px; margin-left: 0px;}
    .hidden_scroll {  padding: 0 0px 0 0;}
    section#section5, section#section5 .fp-tableCell { height: auto !important;}
    .horse_img{display: none;}
    .become_main_block { display: block; width: 85%; text-align: center; margin: 0 auto;}
    .about_faq .vc_column-inner { padding: 0 !important;}

    #paypal_modal .pop_content .col-sm-8 {width: 100%;}
    #paypal_modal .pop_content .col-sm-offset-2 {margin-left: 0%;}
    #paypal_modal .pop_main{height: 252px;}

    /*thank you page*/
    .thank-you { padding: 30px 0;}
    .thank-you h2{font-size: 20px;}
    .thank-you p { font-size: 16px;}

    /*Plan Popup page*/
    #credit_debit .col-sm-6 { width: 100%;}
    .registration_thank_you .col-sm-6{width: 100%;}
    .thank_msg {padding: 15px 10px;}

    /*plan check out page*/
    span.gateway_paypalexpress { width: 100%; display: inline-block;}
    span.gateway_stripe { width: 100%; display: inline-block;}
    .member_payment form.pmpro_form .pmpro_submit { margin-bottom: 0; width: 220px; margin: 10px auto 0; float: none;}
    table#pmpro_pricing_fields { text-align: center;}
    form#pmpro_form { text-align: center;}
    table.pmpro_checkout tbody td p { margin-bottom: 5px;}
    .proof .doc_name { padding-top: 2px;}
    .proof .timer_main { padding-top: 2px; float: none;text-align: center;}
    .hidden_scroll { margin: 0 auto;}

    a.instant_video_btn { top: 31%; left: 41%; width: 100px;}
    #myModal1 .pop_main{width: 90%!important; height: 70%!important; overflow-y: auto;}
    #login_regi_modal .social_login a{font-size: 13px;}
    #login_regi_modal .social_login a {padding: 16px 10px !important;}
    #login_regi_modal  .theChampGoogleLoginSvg, #login_regi_modal .theChampFacebookLoginSvg{padding: 0px 25px;}
    #login_regi_modal .pop_head i{right: 0px;}
    #login_regi_modal .col-md-offset-3.col-sm-6{width: 100%;}
    .plan_detail_text {  min-height: 1px;}
    li.odd .plan_details_box .btn_blue { margin: 20px 0 0px 0;}
    .most_popular .plan_details_box .btn_blue { margin-top: 20px;}
	.with_login .desktop_login {
		width: 230px !important;
		top: 5px;
	}
	.user a img.img-circle {
		height: 43px;
		width: 43px;
	}
	.login_home ul li:last-child a {
		width: 80px !important;
	}
}
@media (max-width:479px){
	.proof .timer_main .moretime, .proof .timer_main .countdown{font-size: 100%;}
	.proof .timer_main {margin-bottom: 10px;}
    .navbar-inverse .navbar-collapse{margin-top: 9px;}
    .breadcum { padding-top: 20%;}
    h2 {    font-size: 20px;}
    h4 {    font-size: 18px;}
    .logo {    width: 174px; float: left;}
    .login_home_mobile{ top: 5px;}
    .navbar-toggle{ padding: 7px;}
    .navbar-inverse .navbar-toggle {    margin-top: -28px;}
    header.header.fixed {  height: 42px;}
    .top_contant { padding-top: 0px;}
    #typed {    font-size: 18px;}
    .used_word {    right: auto;    position: relative;    text-align: center;}
    .mce-ico{ width: 12px !important;}
    .instant_video {    height: 150px;       width: 290px;     padding: 11px 50px 24px;}
    .become_slider_img {    padding: 17px 18px 35px;}
    .become_slider_img img {    margin-left: -13px;}
    .about_sticky ul li a {    font-size: 14px;}
    .blog_category_sticky_right {    float: none;    display: inline-block;    width: 100%;}
    .search_box {     margin: 5px auto;}
    .blog_category_sticky_left {    float: none;    text-align: center;}
    .category_btn_txt {  font-size: 18px;    vertical-align: baseline;}

    .wrapper-sticky { height: auto !important;}
    .help_center .ui-accordion .ui-accordion-header { padding: 10px 0px 0px 30px;}
    .help_center .ui-accordion .ui-accordion-content { padding: 15px 0px 0px 30px;}
    .help_center .ui-accordion .ui-accordion-content p{margin-bottom: 0;}
    .login_form { padding: 20px 20px;}
    a.fb_login:before{left: 15%;}
    a.ggl_login:before{left: 13%;}
    .social_login a{font-size: 16px;margin-top: 10px;}
    a.fb_login:before { left: auto; right: auto; margin: auto; position: relative;}
    a.ggl_login:before { left: auto;  top: 5px;position: relative;}
    .other_login span:after, .other_login span:before { width: 60px;}
    .register a.fb_login:before { left: auto;}
    .register a.ggl_login:before { left: auto;}
    .register .sub_btn { width: 100%; text-align: center; float: none; margin: 10px 0;}
    .register .sub_btn .btn_sky{float: none;}
    .social_login a{padding: 9px 0;}
    .login_home_mobile ul li{width: 34px;}
    .blog_date_category, .blog_detail_desc .blog_social {float: none;}
    .blog_detail_desc .blog_social{margin-top: 10px;}
    .blog_detail_desc {padding-top: 8px;}
    .history_table_main {   overflow: auto;}
    .history_table{ width: 560px;}
    .notify_content {left: -50px; z-index: 1;}
    .user .notify_content { width: 135px;left: auto; right: 10px; margin: auto;}    
    .completed_all_test_content {   font-size: 16px;}

    .customer .col-sm-2 { width: 100%; display: table;}
    .dashboard_content_slider h5 {font-size: 16px;line-height: 20px;}
    .dashboard_collapsible_slider .flex-direction-nav .flex-prev{right: 20px;}
    .create_new_doc button{    padding: 54px 16px 23px;}
    .create_new_doc {width: 100%;    border-right: 0px;border-bottom: 1px solid #8e9499;padding: 10px 0px 10px;margin-bottom: 10px;    text-align: center;}
    .dashboard_content_slider {width: 100% !important;padding: 3px 10px 0px 10px;}
    .notrify > a {width: 34px;height: 34px;background-position: -8px -62px;}
    .notrify a:hover, .notrify a.open {background-position: -8px -8px;}

    .customer_billing_methods { display: table;}
    .billing_image, .bill_popup { width: 100%; display: table; text-align: center;}
    .bill_popup {padding-bottom: 10px; margin-bottom: 10px;}
    .billing_type { width: 100%; display: table; text-align: center;}
    .billing_type , .billing_image{border-bottom: 0; padding: 5px 0;}

    .pop_body .page_title h2 { font-size: 20px;}
    .pop_body .page_title h4{font-size: 16px;}
    .col-sm-6.privacy.customer { width: 100%;}
    .col-sm-6.privacy.customer .credit .left { width: 100%;text-align: center;}
    .col-sm-6.privacy.customer .credit .right{width: 100%;position: relative; right: 0; bottom: -6px; left: 0; margin: auto;}
    .start_tests.ready .pop_main { height: 290px;}
    #change_settings .pop_main{height: 400px;}
    .start_tests.delete .pop_main { padding: 15px 20px;}
    .delete .pop_head a { right: 10px;}
    .proof_academy .col-sm-4 { width: 100%;}
    .proof .col-sm-4 { width: 100%;}
    .proof .total_ammount .left { width: 100%; padding-top: 0;}
    .proof .total_ammount .right { padding-top: 10px; position: relative;}
    a.instant_video_btn {  top: 49px; left: 77px;}
    a.instant_video_btn img { width: 30%;}
    .become_main .btn_sky, .become_main .btn_sky:hover { font-size: 16px;}
    .type-wrap { min-height: 50px;}
    .with_login .login_home{left: 0;position: relative; top: auto;}
    #pass_modal .col-sm-8 { width: 100%; margin: 0;}
    .login_form .theChampLoginSvg{background-position: 0px 0 !important;}
    .login_form.register .theChampLoginSvg{background-position: 0px 0 !important;}
    .page-template-basic_information_review .proofreading_info {padding: 20px 0 0;}
    .notrify .notify_content{left: -100px;}
    .changeable{margin-left: 0px;}
    .about_writesaver { padding: 90px 0 20px;}
    .proof .total_ammount .right{right: 0;}
    a.instant_video_btn {top: 30%;left: 39%;}    
    .billing_table .bill_popup{width: 100% !important;}
    #popup_for_non_subs .pop_main {height: 365px;}
     #login_regi_modal .remember label:before{top: -2px}
    #login_regi_modal .remember label{font-size: 14px; margin-top: 3px;}
	.with_login .desktop_login {
		width: 170px !important;
		top: 10px;
	}
	.user a img.img-circle {
		height: 35px;
		width: 35px;
	}
	.login_home ul li:last-child a {
		width: 70px !important;
	}
	.with_login .login_home ul li.notrify{display: none;}
}
@media (max-width: 400px){
    /*.with_login .login_home{left: 5%;}*/
    .notrify .notify_content { left: -200px;width: 300px;}
    .with_login .login_home ul li:last-child{display: block;}
    .notify_content{width:250px;left: 0; right: 0; margin: auto;}
    .with_login .login_home ul li a {    font-size: 14px;   vertical-align: middle;}
    .breadcum {    padding-top: 36%; padding-bottom: 0.5%;}
    header.header.with_login.fixed {min-height: 130px;}
    #login_regi_modal .remember label:before{top: -2px}		
    #login_regi_modal .remember label{font-size: 14px; margin-top: 3px;}
	.with_login .desktop_login {
		width: 70px !important;
		top: 10px;
	}
	.user a img.img-circle {
		height: 35px;
		width: 35px;
	}
	.login_home ul li:last-child a {
		width: 70px !important;
	}
	.with_login .login_home ul li.notrify, .with_login .login_home ul.desktop_login > li:first-child{display: none;}
	.with_login .login_home {
		width: 16% !important;
	}
}
@media (max-width: 360px){
    .sub_btn .btn_sky{float: none; margin-bottom: 15px;}
    /*    .remember { text-align: center; width: 100%;}*/
    .login_form a{ float: none;}
    #popup_for_non_subs .pop_main {height: 400px;}
	.with_login .login_home {
		width: 25% !important;
	}
}