.with_login .nav_manu{
    width: 45%;
}
.with_login .login_home{
    width: 32%;
}
.notrify > a{
    width:50px;
    height: 50px;
    display: inline-block;
    position: relative;
    background-image: url('../images/noti.png');
    background-repeat: no-repeat;
    background-position: 0 -55px;
}
.notrify a:hover,.notrify a.open{
    background-position: 0 -1px;
}
.with_login .login_home ul li{
    vertical-align: middle;
    position: relative;    
}
.with_login .login_home ul li a{
    padding: 6px 15px;
}
.notify_content {
    position: absolute;
    width: 300px;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 0px 3px 1px #bbbfbe;
}
.notrify .notify_content{
    background-color: rgba(38, 38, 38, 0.7);
}
.login_home .notrify .notify_content ul li a,.login_home .notrify .notify_content ul li i{
    color: #fff;
}
.login_home .notrify .notify_content ul li:hover a, .login_home .notrify .notify_content ul li:hover i, .login_home .notrify .notify_content ul li.active a,
.login_home .notrify .notify_content ul li:hover span{
    color: #f6e721;
}
.login_home .notrify .notify_content ul li:not(:last-child){
    border-bottom: 1px solid #9f9d9d;
    padding-left: 25px;
}
.login_home .notify_content ul {
    text-align: left;
    padding: 7px 15px;
}
.login_home .notify_content ul li {
    padding: 5px 0;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    transition-duration: 0.7s;
    position: relative;
}
.login_home .notrify .notify_content ul li i {
    position: absolute;
    left: 0;
    top: 7px;
}
.login_home ul li.view_all {
    border-bottom: 0;
}
.login_home ul li.view_all a {
    color: #03b4d7;    
}
.login_home .notify_content ul li a {
    padding: 0;
    font-size: 16px;
}
.login_home .notify_content ul li span{
    float: right;
    color: #fff;
}
.login_home .notify_content ul li i {
    margin-right: 10px;
    font-size: 16px;
}
.login_home .notify_content ul li:hover a, .login_home .notify_content ul li:hover i, .login_home .notify_content ul li.active a {
    color: #03b4d7;    
    transition-duration: 0.7s;
}
.user strong {
    margin-right: 5px;
}
.user .notify_content {
    width: 135px;
    left: auto;
    right: 10px;
}
.login_home .user .notify_content ul li {
    border: 0;
}

.notification .notify_content {
    position: relative;
    box-shadow: none;
    width: 100%;
    background-color: transparent;
    left: auto;
}
.notification .notify_content ul {
    padding: 0;
    list-style: none;
}
.notification i {
    font-size: 18px;
    margin-right: 34px;
    position: absolute;
    left: 0;
    top: 20px;
}
.notification .notify_content span {
    float: right;
    color: #a1a1a1;
    font-size: 18px;
    margin-right: 9px;
    font-family: 'Roboto-Regular';
}
.notification .notify_content ul li {
    width: 100%;
    display: inline-block;
    padding: 15px 0 17px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 0;
    position: relative;
    padding-left: 50px;
}
.notification .notify_content ul li a {
    font-size: 18px;
    color: #313131;
    text-decoration: none;
    font-family: 'Roboto-Light';
    line-height: 28px;
}
.notification .pagination {
    margin: 13px 6px 0;
}
.proofer_section_title a.btn_sky {
    float: right;
}
.proofer_section_title h4 {
    display: inline-block;
    margin-top: 15px;
    float: left;
}
.proofer_section_title {
    color: #484848;
    width: 100%;
    display: inline-block;
    margin-bottom: -5px;
}
.total_ammount h4{
    color: #03b4d7;
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
}
.privacy .total_ammount p {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 65px;
    line-height: normal;
    vertical-align: middle;
}
.total_ammount {
    width: 100%;
    display: inline-block;
    padding: 0px 10px 0px 30px;
    background-color: #f2f6f8;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.total_ammount h4:after {
    content: '';
    display: inline-block;
    position: relative;
    background-color: #b1b1b1;
    width: 1px;
    height: 26px;
    vertical-align: middle;
    margin: 0 15px;
}
.left, .right {
    width: 49%;
    display: inline-block;
}
.total_ammount .left {
    width: 60%;
}
.right{text-align: right;padding: 12px 0 10px;}
.total_ammount .right {
    width: 38%;
}
.right:before{
    content: '';
    background-image: url(../images/feature_img.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    height: 78px;
    width: 85px;
    vertical-align: middle;
}
.paid .right:before{
    background-position: -90px 0;
}
.remaining .right:before{
    background-position: -180px 0;
    width: 75px;
}
.service {
    margin-bottom: 45px;
}

.login_home > ul > li.active a{
    color: #fff;
    background: #03b4d7;
    box-shadow: 0px 3px 12px rgba(3,180,215,0.5);
}
.doc_name h2 {
    padding-bottom: 15px;
}
.credit .left, .submitted .left {
    width: 90%;
    padding: 27.5px 0 27.5px;
}
.credit .right, .submitted .right {
    text-align: right;
    padding: 0px 0;
    width: 29%;
    position: absolute;
    right: 10px;
    bottom: 0;
}
.privacy.customer .total_ammount p{
    font-size: 24px;
    width: 180px;
    color: #676767;
    margin-bottom: 0 !important;
}
.privacy.customer .total_ammount a{
    display: block;
    color: #03b4d7;
    font-size: 16px;
    text-decoration: underline;
}
.total_ammount h4 span{
    font-size: 18px;
    color: #878686;
    text-transform: capitalize;
    display: block;
}
.customer .total_ammount h4{
    text-align: center;
    position: relative;
    margin-right: 30px;
}
.customer .total_ammount h4:after{
    margin: 0;
    position: absolute;
    right: -12px;
    top: 20%;
    height: 30px;
}
.credit .right:before{
    background-position: 0px -90px;
    width: 95px;
}
.submitted .right:before{
    background-position: -99px -105px;
}
.customer .total_ammount {
    padding-right: 0;
    position: relative;
}
label.cloud_file {
    margin: 0;
    font-size: 24px;
    text-align: center;
    padding: 45px 20px 12px;
    background-color: #03b4d7;
    color: #fff;
    position: relative;
    line-height: normal;
    font-weight: normal;
    border-radius: 5px;
    cursor: pointer;
}
label.cloud_file:after{
    content: '';
    display: block;
    width: 31px;
    height: 25px;
    background-image: url('../images/cloud_upld_icon.png');
    background-repeat: no-repeat;    
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;    
}
label.cloud_file input[type="file"] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}
.clickable a {
    padding: 5px 15px;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto-Light';
    color: #9eaabb;
    background-color: #d8dde4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
}
.clickable {
    text-align: center;
    border-top: 5px solid #d8dde4;
}
.collapsible_content .clickable {
    border-top: 5px solid #03b4d7;
    position: absolute;
    width: 100%;
    top: 100%;
}
a.closer {
    color: #fff;
    background-color: #03b4d7;
}
.status {
    min-height: 30px;
    background-color: #f2f6f8;
    border-top: 1px solid #dde2e5;
}
.full_content {
    background-color: #fff;
}
.full_content p {
    font-size: 11px;
    margin-bottom: 0;
    padding: 10px;
}
section.uploaded_file_main {
    position: relative;
    display: inline-block;
    width: 100%;
}
.inner_content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 0;
    position: relative;
    z-index: 11;
    top: 0;
    width: 100%;
}
.full_content {
    background-color: #fff;
    width: 100%;
	cursor: pointer;
}
.full_content p {
    font-size: 11px;
    margin-bottom: 0;
    padding: 10px;
    font-family: 'Roboto-Light';
    color: #787878;
    line-height: 13px;
}
.status {
    min-height: 27px;
    background-color: #f2f6f8;
    border-top: 1px solid #dde2e5;
}
.privacy.customer {
    padding-top: 33px;
}
.pop_overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1111;
}
.pop_main {
    width: 750px;
    height: 350px;
   margin: auto !important;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 11;
    padding: 15px 30px;
}
.pop_body .page_title h2 {
    font-size: 34px;
    color: #03b4d7;
    font-family: 'Roboto-Light';
    text-align: center;
}
.pop_head {
    text-align: right;
    position: relative;
    min-height: 25px;
}
.pop_head i {
    font-weight: 300;
    font-size: 22px;
    color: #888888;
    position: absolute;
    top: -10px;
    right: -20px;
}
.dashboard_content_slider .full_content h5{
    font-size: 18px;
    font-family: 'Roboto-Light';
    color: #313131;
    margin: 0px;
    padding: 9px;
}
.status p{
    color: #596770;
    font-size: 16px;
    font-family: 'Roboto-Light';
    padding: 5.5px 9px 7.5px;
}
.full_content_header{
    min-height: 85px;
}
.collapsible_slider {
    padding: 0px 83px;
}
.create_new_doc button{
    border: 7px solid #f1f1f1;
    outline: 0px;
    padding: 54px 24px 23px;
    background-color: #fff;
    color: #03b4d7;
    font-size: 16px;
    font-family: 'Roboto-Light';
    background-image: url(../images/blue_plus.png);
    background-repeat: no-repeat;
    background-position: 50% 31px;
}
.dashboard_content_slider h5{
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto-Light';
    margin: 0px;
    padding-bottom: 10px;
    display: inline-block;
}
.create_new_doc{
    float: left;
    display: inline-block;
    width: 168px;
    padding: 32px 0px 5px;
    border-right: 1px solid #8e9499;
}
.dashboard_content_slider{
    float: left;
    display: inline-block;
    width: 87.8%;
    padding: 3px 0px 0px 26px;
    position: relative;
}
.inner_content.submitted_docs{
    padding: 10px 0 9px;
}
.dashboard_collapsible_slider .flex-direction-nav .flex-prev {
    left: auto;
    right: 30px;
    opacity: 1!important;
}
.dashboard_collapsible_slider .flex-direction-nav .flex-next {
    right: 0px;
    text-align: right;
    opacity: 1 !important;
}
.dashboard_collapsible_slider .flex-direction-nav a{
    top: 13%;
    width: 10px;
    height: 20px;
    font-size: 0px;
    outline: 0px;
}
.dashboard_collapsible_slider .flex-direction-nav a:before{
    content: '';
    background-image: url(../images/slider_arrow.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 10px;
    height: 20px;
    display: inline-block;
}
.dashboard_collapsible_slider .flex-direction-nav a.flex-next:before {
    background-position: -20px 0px;
}
.text_editor textarea{
    font-size: 18px;
    color: #313131;
    text-align: justify;
    font-family: 'Roboto-Light';   
}
.customer_billing_methods {
    display: inline-block;
    width: 100%;
    /*    border-bottom: 1px solid #d9d9d9;
        padding: 10px 0px 19px;*/
}
.all_fields ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.all_fields ul li{
    vertical-align: middle;
}
.customer_billing_methods p{
    margin: 0px;
    font-family: 'Roboto-Regular';
    font-size: 18px;
    color: #313131;
}
.customer_billing_methods a{
    display: inline-block;
}
.customer_billing_methods a:hover{
	color: inherit;
}
.billing_image img{
    margin: 0 auto;
    display: block;
}

.billing_table {
    display: table;
    width: 100%;
    max-width: 100%;
}
.customer_billing_methods{
    display: table-row;
}
.billing_image, .billing_type, .bill_popup{
    display: table-cell;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0px 19px;
}
.billing_image, .bill_popup{
    width: 164px;
    min-width: 88px;
}
.bill_popup{
    text-align: right;
}
.billing_type{
    width: 71%;
    padding-left: 30px;
}

/*Billing Detail css Start*/
#Paypal .pop_main{
    height: 500px;
    overflow: auto;
}
.pop_body .page_title h4 {
    text-align: center;
    margin: 22px 0 26px;
}
label.contact_block {
    font-size: 18px;
    vertical-align: middle;
    min-height: 51px;
    margin-bottom: 15px !important;
    width: 100%;
    position: relative;
    padding-top: 15px;
    padding-left: 35px;
}
label.contact_block:before{
    content: '';
    display: inline-block;
    background-image: url('../images/card_img.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 38%;
    vertical-align: middle;
    width:23px;
    height: 15px;
}
.buttons{
    text-align: right;
}
.buttons .btn_sky, .buttons .btn_sky:hover{
    padding: 11px 20px;
    border: 0;
}
input[type="reset"].btn_sky {
    background-color: transparent;
    box-shadow: none;
    color: #03b4d7;
}
.profile .blog_category_sticky_left ul li:hover, .profile .blog_category_sticky_left ul li.active {
    color: #03b4d7;
    border-bottom: 2px solid #03b4d7;
}
.credit.current .left{
    width: 150px;
    float: left;
}
.credit.current .right_cont{
    padding-top: 27px ;
    width: 70%;
    float: left;
}
.total_ammount.current h4{
    text-align: center;
    position: relative;
    float: left;
}
.total_ammount.current h4:after {
    position: absolute;
    top: 5px;
    right: -30px;
}
.total_ammount.current .right_cont h4 {
    font-size: 24px;
    font-family: 'Roboto-Light';
    font-weight: normal;
    margin: 0;
    color: #676767;
    display: block;
    float: none;
    text-align: left;
    margin-bottom: 10px;
}
.right_cont p {
    color: #909090;
    font-size: 16px;
}
.right_cont p span{
    color: #404141;
}
.total_ammount.current .right_cont h4:after{
    display: none;
}
.total_ammount.credit.current {
    background-color: #ecfcff;
    margin-top: 15px;
}
.total_ammount.current a.btn_sky {
    margin: 30px 0;
    float: right;
    display: inline-block;
}
.col-sm-6.privacy.customer {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;
}
.col-sm-6.privacy.customer h4 {
    margin-bottom: 15px;
}
.col-sm-6.privacy.customer .left h4{
    margin-bottom: 0;
    float: left;
}

/*Billing Detail css Start*/

.basic_info_inner .blog_category_sticky_left ul{ text-align: left;}
.basic_info_inner .blog_category_sticky_left ul li{padding: 5px 0;margin: 0;border-bottom: 0px;font-size: 16px;line-height: normal;display: block;color: #c7c7c7;}
.basic_info_inner .blog_category_sticky_left ul li:hover, .basic_info_inner .blog_category_sticky_left ul li.active{border-bottom: 0px;}
.basic_info_inner .blog_category_main{padding: 0;}
.basic_info_inner form { margin-top: 15px;}
input[type=submit].btn_sky { border: 0; float: right;}
#Paypal input[type=submit].btn_sky{ border: 0; float: none;}
.basic_info_inner input.contact_block{padding: 10px 23px;}
.basic_info_inner.final_info form { margin-top: 0;}
.basic_info_inner.final_info .all_fields{ width: 100%; display: inline-block;padding-bottom: 0;}
.tests h4 { padding-bottom: 15px;border-bottom: 1px solid #fec52c;}
.test_contents p { font-size: 18px; line-height: 30px; margin: 16px 0 30px;  word-spacing: -2px;}
.test_stop_content { padding: 18px 20px 18px 28px; background-color: #f1f1f1; border-radius: 5px; display: inline-block; width: 100%;}
.test_stop_content p { margin: 0; display: inline-block; float: left;font-family: 'Roboto-Light'; font-style: italic; width:60%;margin-top: 8px;}
.test_stop_content p span{color: #03b4d7;}
.timer { display: inline-block; float: left;}
.test_stop_content a.btn_sky { display: inline-block; float: right;}
.timer { display: inline-block; float: left; font-size: 34px; color: #03b4d7;font-family: 'Roboto-Light';width: 27%; text-align: right;  margin-right: 15px;}

.basic .blog_category_sticky.sticky{position: fixed !important; top: 87px !important;}
.subscrib .pop_main { height: 390px;overflow: hidden;}
.subscrib input.contact_block { width: 54%; margin-right: 30px;margin-bottom: 7px;}
.subscrib input[type=submit].btn_sky{float: none;}
.pop_open .header {  z-index: -1;}
.subscrib img { width: 100%;}
.ready .first_test p { width: 73%; margin: 0 auto;}
.start_tests.ready .pop_main { height: 350px;}
.first_test a.btnno { margin-top: 15px;}
#change_settings .pop_main{height: 350px;}
a.btn_sky.orange.pop_btn, button.btn_sky.orange.pop_btn{ background: #f78b4e; margin-left: 15px; margin-right: 15px; box-shadow: 0px 3px 12px rgba(242, 143, 86, 0.57);}
.text_editor .mce-toolbar-grp{min-height: 28px;}
.proofreader div#mceu_18-body { display: none;}

/*switch Css*/
.delete_track {
    display: inline-block;
    position: absolute;
    left: 70px;
    top: 43px;
    z-index: 1;
}
.ios_checkbox label{
    cursor: pointer;
    font-size: 14px;
    color: #646464;
    font-family: 'Roboto-Light';
}
.ios_checkbox input[type="checkbox"]{
    position: absolute;
    margin: 8px 0 0 16px; 
    opacity: 0;
}
.ios_checkbox input[type="checkbox"] + label {
    position: relative;
    padding: 3px 70px 0 10px;
}
.ios_checkbox input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 5px;
    width: 40px;
    height: 15px;
    border-radius: 16px;
    background: #a9a9a9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.ios_checkbox input[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    display: block;
    right: 30px;
    top: 0px;
    width: 24px;
    height: 24px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 0px 5px 1px #ddd;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.ios_checkbox input[type="checkbox"]:checked + label:after {
    right: -10px;
}
.ios_checkbox input[type="checkbox"]:checked + label:before {
    background: #37c438;
}
.ios_checkbox.ios_checkbox_sm {
    display: inline-block;
}
.delete_track a {
    font-size: 14px;
    color: #fb9696;
    text-transform: capitalize;
    position: relative;
    font-family: 'Roboto-Light';
    text-decoration: none;
    padding-right: 40px;
    margin-right: 10px;
}
.delete_track a:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 17px;
    background-color: #e0e0e0;
    vertical-align: middle;
    right: 0;
    top: 1px;;
}
.delete .pop_head a {
    position: absolute;
    right: -60px;
}
.start_tests.delete .pop_main {
    padding: 15px 95px;
    height: 300px;
}
.delete .pop_body .page_title h2{
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 1px solid #fec52c;
}
.delete .first_test{
    padding: 0;
    max-height: 150px;
    overflow: auto;
}
.delete .first_test p{
    text-align: left;
    margin: 0;
}
.collect h6 {
    font-size: 18px;
}
.collect h6 span{
    color: #03b4d7;
}
.radio_option input[type="radio"] {
    display: none;
}
.radio_option label {
    background: url(../images/radio_icon.png) 0px 3px no-repeat;
    padding-left: 36px;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    color: #666666;
    font-family: 'Roboto-Light';
}
.radio_option input[type="radio"]:checked + label {
    background-position: 0px -20px;
}
.collect p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto-Light';
}
.collect p span{
    color: #03b4d7; 
}
.collect .contact_block {
    width: 72%;
}
.collect.address {
    display: inline-block;
    width: 100%;
}
.collect h6 a {
    text-decoration: none;
    color: #03b4d7;
}
.collect ul {
    padding-left: 17px;
    width: 400px;
    font-size: 16px;
    color: #666666;
    font-family: 'Roboto-Regular';
    margin-top: 8px;
}
.collect ul li {
    list-style-type: decimal;
    padding-left: 15px;
}
.collect .remember p {
    font-style: italic; 
}
.collect .remember p span:first-child {
    color: #666666;
    font-style: normal;
}
#notContent_2 .buttons {
    text-align: left;
    width: 100%;
    display: inline-block;
    margin-top: 60px;
}
/*#notContent_2  input[type=submit].btn_sky{
    float: none;
}*/
.proof_dashboard .all_page_proofer {
    padding: 80px 0 80px;
    text-align:center;
}
.proof.privacy {
    padding-top: 0;
}
.proof .total_ammount{
    min-height: 102px;
}
.proof .total_ammount .left {
    width: 85%;
    padding-top: 20px;
}
.proof .total_ammount .right{
    position: absolute;
    right: 20px;
    width: auto;
}
.proof .total_ammount h4{
    width: auto;
    text-align: center;
    position: relative;
}
.proof .total_ammount h4:after{
    display: none;
}
.proof.privacy .total_ammount p{
    width: 135px;
}
.divider {
    width: auto;
    display: inline-block;
    position: relative;
}
.divider:before{
    content: '';
    display: inline-block;
    position: relative;
    background-color: #b1b1b1;
    width: 1px;
    height: 26px;
    vertical-align: middle;
    margin: 0 10px;
}
.proof .right:before{
    background-image: url(../images/doc_icon.png);
}
.proof .paid .right:before{
    background-image: url(../images/editred_icon.png);
    background-position: 0 0;
    background-size: 100% 100%;
}
.proof .remaining .right:before{
    background-image: url(../images/dollor_icon.png);
    background-position: 0 0;
    background-size: 100% 100%;
}
.proof_academy {
    padding: 80px 0;
    background-image: url(../images/background.png);
    background-repeat: repeat;
}
.inner_connent{
    width: 100%;
    display: inline-block;
    background-color: #fff;
    padding: 15px;
    text-align: center;
}
.inner_connent p {
    color: #03b4d7;
    font-size: 24px;
    font-family: 'Roboto-Light';
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 1px;
    padding: 0 20px;
}
.total_ammount.credit.current.not_found p {
    margin-bottom: 0;
    padding: 10px 0;
    font-size: 16px;
}
.page-template-revenue .total_ammount .left{
    vertical-align: middle;
}
.page-template-revenue .total_ammount h4{
    margin: 5px 0;
    width: 100%;
}
.page-template-revenue .privacy .total_ammount p{
    width: 100%;
    margin-bottom: 0 !important;
}
.page-template-revenue .total_ammount h4:after {
    content: '';
    display: block;
    position: relative;
    background-color: #03b9e0;
    width: 26px;
    height: 1px;
    vertical-align: middle;
    margin: 5px 0;
}